{% extends 'Main/base.html' %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'payment_information.css' %}">
<script src="{% static 'js/payment_information.js' %}"></script>
{% endblock %}

{% block content %}
<div class="navigation_bar">
    <div class="reverse_button">
        <a href="{% url 'user_settings' username=user.username %}"><i class="fa-solid fa-angle-left"></i></a>
    </div>
    <div class="settings_title">支払い設定</div>
</div>
<div class="payment_content">
    <div class="option" id="option1">
        <input type="checkbox" class="checkbox-round credit_card" id="checkboxCredit" value="credit" onchange="addBorder('option1')" checked>
        <div class="credit-card-container">
            {% for c in card_list %}
            <label for="credit" class="credit-card-label">
                <img src="{% static 'media/Visa_Brandmark_Blue_RGB_2021.svg' %}" alt="VISAのロゴ" class="logo_visa">
                <div>
                    <span>クレジットカード決済（手数料￥0）</span>
                    <span>************{{ c.card.last4 }}</span>
                </div>
            </label>
            {% endfor %}
            <p class="displayCredit" style="display: none;">
                <a href="{% url 'create_card' username=user.username %}">+新しいクレジットカードを登録する</a>
            </p>
        </div>
    </div><!--/option-->
    <div class="option" id="option2">
        <input type="checkbox" class="checkbox-round after2nd" id="checkboxSoftbank" value="softbank" onchange="addBorder('option2')">
        <label for="softbank">ソフトバンクまとめて支払い<br>
            手数料 ￥100-880
        <p class="displayText" class="unavailable" style="display: none;">*現在利用できません。</p>
        </label>
    </div>
    <div class="option" id="option3">
        <input type="checkbox" class="checkbox-round after2nd" id="checkboxConvinient_or_ATM" value="convenient_or_ATM" onchange="addBorder('option3')">
        <label for="convenient_or_ATM">コンビニ/ATM支払い<br>
            手数料 ￥100-880
        <p class="displayText" class="unavailable" style="display: none;">*現在利用できません。</p>
        </label><br>
    </div>
    <div class="option" id="option4" >
        <input type="checkbox" class="checkbox-round after2nd" id="checkboxPaypay" value="paypay" onchange="addBorder('option4')">
        <label for="paypay">PAYPAY支払い<br>
            手数料 ￥100-880
        <p class="displayText" class="unavailable" style="display: none;">*現在利用できません。</p>
        </label>     
    </div>
    <div class="button-container">
        <button type="submit" class="submit_button_icon">更新する</button>
    </div>
</div>
{% endblock %}